<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <img src="../../../assets/logoooo.png" alt="Logo" class="footer-logo mb-3">
                <p>Your one-stop shop for electronics and tech accessories. Quality products, great prices, and excellent service.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/shop">Shop</a></li>
                    <li><a routerLink="/basket">Cart</a></li>
                    <li><a routerLink="/orders">My Orders</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Categories</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/shop">Laptops</a></li>
                    <li><a routerLink="/shop">Phones</a></li>
                    <li><a routerLink="/shop">Headphones</a></li>
                    <li><a routerLink="/shop">Accessories</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled contact-info">
                    <li><i class="fa fa-phone"></i> +20124568799</li>
                    <li><i class="fa fa-envelope"></i> support&#64;techstore.com</li>
                    <li><i class="fa fa-map-marker"></i> 123 Tech Street, City</li>
                </ul>
                <div class="social-links mt-3">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <p class="copyright">© {{currentYear}} TechStore. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>